*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff;
}

/* #header{ */
    /* width: 100%;
    height: 100vh; */
    /* background-image: url(images/hero-img.png);
    background-size: cover;
    background-position: center; */
/* } */

.container{
    padding: 10px 10%;
}

.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #f8f0f0;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(135, 192, 246);
    position: absolute;
    transition: 0.5s;
    bottom: -6px;
    left: 0;
}

nav ul li a:hover::after{
width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: rgb(135, 192, 246);
}

/* about */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about{
    padding: 100px 0;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #f8f0f0;
}

.justified-text {
    text-align: justify;
    line-height: 1.8;
    color: gray;
    font-size: 18px;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: gray;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    background: rgb(135, 192, 246);
}

.tab-links.active-link::after{
width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
    color: gray;

}

.tab-content ul li span{
    color:rgb(96, 129, 159);
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}


.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262622;
    font-size: 18px;
    border-radius: 6px;
    margin: 15px 0;
    padding: 15px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white; 
  border-radius: 5px;
  border: none;
}

.btn2 {
  background-color: rgb(96, 129, 159); 
}

.btn:hover {
  background-color: rgb(96, 129, 159); 
}

#msg{
    color: green;
    margin-top: -70px;
    display: block;
}


@media(max-width: 768px) 
{
    *{
        margin: 0;
        padding: 0;
        font-family:'Times New Roman', Times, serif;
        box-sizing: border-box;
    }
    
    body{
        background-color: #080808;
        color: #fff;
    }
    
    /* #header{ */
        /* width: 100%;
        height: 100vh; */
        /* background-image: url(images/hero-img.png);
        background-size: cover;
        background-position: center; */
    /* } */
    
    .container{
        padding: 10px 10%;
    }
    
    .nav{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    
    nav ul li a{
        color: #f8f0f0;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }
    
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: rgb(135, 192, 246);
        position: absolute;
        transition: 0.5s;
        bottom: -6px;
        left: 0;
    }
    
    nav ul li a:hover::after{
    width: 100%;
    }
    
    .header-text{
        margin-top: 10%;
        font-size: 20px;
    }
    
    .header-text h1{
        margin-top: 20px;
        font-size: 30px;
    }
    
    .header-text h1 span{
        color: rgb(135, 192, 246);
    }
    
    /* about */
    
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #about{
        padding: 100px 0;
    }
    
    .about-col-1{
        flex-basis: 35%;
    }
    .about-col-1 img{
        width: 250%;
        border-radius: 15px;
    }
    
    .about-col-2{
    flex-basis: 60%;
    }
    
    .sub-title{
        font-size: 30px;
        font-weight: 600;
        color: #f8f0f0;
    }
    
    .justified-text {
        text-align: justify;
        line-height: 1.8;
        color: gray;
        font-size: 18px;
    }
    
    .tab-title{
        display: flex;
        margin: 20px 0 40px;
    }
    
    .tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: gray;
    }
    
    .tab-links::after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
        background: rgb(135, 192, 246);
    }
    
    .tab-links.active-link::after{
    width: 50%;
    }
    
    .tab-content ul li{
        list-style: none;
        margin: 10px 0;
        color: gray;
    
    }
    
    .tab-content ul li span{
        color:rgb(96, 129, 159);
    }
    
    .tab-content{
        display: none;
    }
    
    .tab-content.active-tab{
        display: block;
    }
    
    .contact-left{
        flex-basis: 35%;
    }
    
    .contact-right{
        flex-basis: 60%;
    }
    
    .contact-left p{
        margin-top: 30px;
    }
    
    
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262622;
        font-size: 18px;
        border-radius: 6px;
        margin: 15px 0;
        padding: 15px;
    }
    
    
    .btn {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #007bff;
      color: white; 
      border-radius: 5px;
      border: none;
    }
    
    .btn2 {
      background-color: rgb(96, 129, 159); 
    }
    
    .btn:hover {
      background-color: rgb(96, 129, 159); 
    }
    
    #msg{
        color: green;
        margin-top: -70px;
        display: block;
    }

    .input-wth{
        width: 150%;
    }
    
}